# Python virtual environment
.venv/

# Python cache
__pycache__/

# .NET artifacts
bin/
obj/

# Challenge artifacts / attachments
/challenges/*/artifacts
/challenges/*/attachments
/files

# Challenge solution working directory
/challenges/*/solution

# VSCode configurations
.vscode/
